.signup {
  width: 100%;
}

.column {
  height: 100vh;
}

.signup-heading {
  color: rgba(240, 0, 0, 0.87);
  font-size: 100px;
  text-align: center;
}

.form {
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  border-radius: 8px;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  outline: 0;
  background-color: rgba(240, 0, 0, 0.87);
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  border-radius: 8px;
  color: #ffffff !important;
  font-weight: bold;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgba(240, 0, 0, 0.87);
  text-decoration: none;
}

.checkbox {
  width: 10% !important;
}

.checkbox-container {
  text-align: left !important;
  margin: 4px auto 4px auto !important;
}

.checkbox-label {
  margin-left: 8px;
  color: #b3b3b3;
}
